# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
.env
.env.*

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.pyd
*.pyc
.Python
